In [ ]:
import numpy  as np
import pandas as pd
from   tqdm   import tqdm
import matplotlib.pyplot as plt
plt.style.use("seaborn")
from IPython.display import clear_output
from scipy.signal import argrelextrema
import ast

import time
from datetime import datetime,date

In [ ]:
!git clone https://github.com/Deepinvest-team/deepinvest_open_environment.git

fatal: destination path 'deepinvest_open_environment' already exists and is not an empty directory.

In [ ]:
import sys
sys.path.append('/content/deepinvest_open_environment')
from deepinvest_open_environment.Observer import Observers

Import Trainset

In [ ]:
#asset01-train
!gdown --id 1mkfE7JewHpNq4-MfGJ9yjqBcvaI3EpPT
#asset02-train
!gdown --id 1TDQVek--7_w7MrUsB4JxdJiU5Yu3AN6O
#asset03-train
!gdown --id 1BQFi8d3akjVqsgiESKmAx03XUkvo6VbT
#asset04-train
!gdown --id 1tOw6Tx_dkvdAotxXZ9EHic5dpwOQ9SRF
#asset05-train
!gdown --id 1h1CLq-io9ejMKbe0X6o89eESS9HoHG5m

Downloading...
From: https://drive.google.com/uc?id=1mkfE7JewHpNq4-MfGJ9yjqBcvaI3EpPT
To: /content/Asset01_train.csv
100% 198k/198k [00:00<00:00, 2.03MB/s]
Downloading...
From: https://drive.google.com/uc?id=1TDQVek--7_w7MrUsB4JxdJiU5Yu3AN6O
To: /content/Asset02_train.csv
100% 194k/194k [00:00<00:00, 2.28MB/s]
Downloading...
From: https://drive.google.com/uc?id=1BQFi8d3akjVqsgiESKmAx03XUkvo6VbT
To: /content/Asset03_train.csv
100% 193k/193k [00:00<00:00, 2.25MB/s]
Downloading...
From: https://drive.google.com/uc?id=1tOw6Tx_dkvdAotxXZ9EHic5dpwOQ9SRF
To: /content/Asset04_train.csv
100% 202k/202k [00:00<00:00, 2.01MB/s]
Downloading...
From: https://drive.google.com/uc?id=1h1CLq-io9ejMKbe0X6o89eESS9HoHG5m
To: /content/Asset05_train.csv
100% 199k/199k [00:00<00:00, 1.93MB/s]

Import Testset

In [ ]:
#asset01-test
!gdown --id 1VxP6cVvkH3pzUBpzv94if9StIJpzzmnh
#asset02-test
!gdown --id 1EEh2Nb6nR_g8jjDgiJw_zLZJQb7uPfYV
#asset03-test
!gdown --id 1PokuhfrnWdfyHvdQ94qcJQaurGnqsueV
#asset04-test
!gdown --id 1znycWPHKKnok9SXySS9FMg1bHQRNe9la
#asset05-test
!gdown --id 1ES3L70ysVHc95OPIHZzbpNBrzy6p3YTV

Downloading...
From: https://drive.google.com/uc?id=1VxP6cVvkH3pzUBpzv94if9StIJpzzmnh
To: /content/Asset01_test.csv
100% 23.3k/23.3k [00:00<00:00, 2.06MB/s]
Downloading...
From: https://drive.google.com/uc?id=1EEh2Nb6nR_g8jjDgiJw_zLZJQb7uPfYV
To: /content/Asset02_test.csv
100% 22.9k/22.9k [00:00<00:00, 1.64MB/s]
Downloading...
From: https://drive.google.com/uc?id=1PokuhfrnWdfyHvdQ94qcJQaurGnqsueV
To: /content/Asset03_test.csv
100% 22.7k/22.7k [00:00<00:00, 1.79MB/s]
Downloading...
From: https://drive.google.com/uc?id=1znycWPHKKnok9SXySS9FMg1bHQRNe9la
To: /content/Asset04_test.csv
100% 23.4k/23.4k [00:00<00:00, 2.64MB/s]
Downloading...
From: https://drive.google.com/uc?id=1ES3L70ysVHc95OPIHZzbpNBrzy6p3YTV
To: /content/Asset05_test.csv
100% 23.5k/23.5k [00:00<00:00, 2.65MB/s]

สร้าง environment
 * Observers(windowsize,train=True)
 * Observers จะเป็นสภาพแวดล้อมที่ใช้ในการทดสอบโมเดล โดย parameter จะประกอบไปด้วย window size ซึ่งเป็นขนาดของข้อมูลย้อนหลังที่ต้องการเห็น และ train จะเป็นค่า True หรือ False ซึ่งเป็นค่าที่ใช้เปลี่ยนข้อมูลของ environment โดย train ระบบจะดึงข้อมูลชุด train มาให้ ส่วน test ระบบจะดึงข้อมูลส่วน test มาให้

In [ ]:
observers = Observers(30,train=True)

**getCodeAsset**
  * getCodeAsset บอกรหัสของ Asset ที่ใช้ในการเปิดคำสั่งซื้อขาย

In [ ]:
observers.getCodeAsset()

['Asset01', 'Asset02', 'Asset03', 'Asset04', 'Asset05']

**getDataset**
  * getDataset เรียกข้อมูลย้อนหลังทั้งหมด

In [ ]:
observers.getDataset()

{'Asset01':                  open       high        low      close  volume
 timestamp
 2010-06-23  12.707242  12.785209  12.661818  12.687096   74937
 2010-06-24  12.686903  12.765063  12.666176  12.690777   69683
 2010-06-25  12.690292  12.736782  12.644093  12.697363   57886
 2010-06-28  12.696878  12.733683  12.682738  12.708017   25555
 2010-06-29  12.700268  12.754797  12.660462  12.747920   46179
 ...               ...        ...        ...        ...     ...
 2018-12-24  10.966692  11.001172  10.962431  10.978218   43144
 2018-12-26  10.978121  11.003690  10.976571  10.992068   42956
 2018-12-27  10.991971  11.087468  10.978315  11.064320   66875
 2018-12-28  11.064320  11.077008  10.985094  11.014828   71203
 2018-12-31  11.014828  11.031874  10.918169  10.944997   79566

 [2144 rows x 5 columns],
 'Asset02':                  open       high        low      close  volume
 timestamp
 2010-06-23  76.981131  77.288981  74.647468  75.819266  365038
 2010-06-24  75.471700  76.037738  74.796427  75.978157  260401
 2010-06-25  76.027805  78.639528  75.372397  78.311820  316456
 2010-06-28  78.450846  78.828202  77.179745  77.706060  223305
 2010-06-29  77.606757  77.775573  74.687191  75.412120  323267
 ...               ...        ...        ...        ...     ...
 2018-12-24  45.134064  45.918573  42.065543  42.234360  415859
 2018-12-26  42.552135  46.673288  42.224431  45.898712  698408
 2018-12-27  46.256210  46.375375  44.061569  44.299903  665590
 2018-12-28  45.124131  45.898712  44.111221  45.014899  564385
 2018-12-31  44.905663  46.206554  44.419067  45.094341  476970

 [2144 rows x 5 columns],
 'Asset03':                  open       high        low      close  volume
 timestamp
 2010-06-23  11.818009  11.929842  11.763525  11.904990     253
 2010-06-24  11.916460  12.013956  11.887784  12.003442     159
 2010-06-25  11.835213  11.835213  11.835213  11.835213     351
 2010-06-28  11.871536  11.900211  11.742497  11.871536     417
 2010-06-29  11.904990  11.911680  11.820876  11.904990      73
 ...               ...        ...        ...        ...     ...
 2018-12-24  12.203212  12.208948  12.203212  12.208948     480
 2018-12-26  12.172625  12.235711  12.172625  12.233799     805
 2018-12-27  12.215638  12.247181  12.211815  12.218506      19
 2018-12-28  12.292105  12.292105  12.211815  12.244313     149
 2018-12-31  12.299753  12.349456  12.298796  12.347545      10

 [2144 rows x 5 columns],
 'Asset04':                  open       high        low      close     volume
 timestamp
 2010-06-23  10.783106  10.827101  10.611527   8.336712   73784800
 2010-06-24  10.615926  10.646723  10.167180   7.993776  119882100
 2010-06-25  10.250770  10.417950  10.096789   7.890897   81050500
 2010-06-28  10.158381  10.259569  10.000000   7.942336   92239400
 2010-06-29  10.277167  10.329960  10.140783   7.980061   62485100
 ...               ...        ...        ...        ...        ...
 2018-12-24  41.856578  44.298286  41.337440  42.780866   51634800
 2018-12-26  43.686760  44.518260  42.410912  43.044629   49498500
 2018-12-27  44.914210  45.054996  43.783545  42.708543   38196300
 2018-12-28  44.562254  45.050596  44.188299  43.210545   33173800
 2018-12-31  43.796747  44.764629  43.528379  43.019106   35329300

 [2144 rows x 5 columns],
 'Asset05':                  open       high        low      close  volume
 timestamp
 2010-06-23  17.052869  17.171583  16.905345  17.078139  114400
 2010-06-24  16.861131  17.018485  16.557857  16.914459  137800
 2010-06-25  16.777850  16.959933  16.721656  16.729684   78400
 2010-06-28  16.732046  16.798816  16.229834  16.324111   93600
 2010-06-29  16.330307  16.374136  16.071269  16.146850   76600
 ...               ...        ...        ...        ...     ...
 2018-12-24  14.317870  14.371922  14.207838  14.231010  238400
 2018-12-26  14.230442  14.425246  14.229091  14.425246  207800
 2018-12-27  14.433951  14.573378  14.365040  14.484393  242200
 2018-12-28  14.499471  14.616320  14.457728  14.616320  231700
 2018-12-31  14.512382  14.547756  14.291107  14.304602  215900

 [2144 rows x 5 columns]}

**getWindowPrice**
  * getWindowPrice เรียกข้อมูลย้อนหลังเท่ากับขนาดของ windowsize ที่กำหนด โดยข้อมูลจะเปลี่ยนไปเรื่อยๆตามเวลาปัจจุบัน

In [ ]:
observers.getWindowPrice()

{'Asset01':                  open       high        low      close  volume
 timestamp
 2010-06-23  12.707242  12.785209  12.661818  12.687096   74937
 2010-06-24  12.686903  12.765063  12.666176  12.690777   69683
 2010-06-25  12.690292  12.736782  12.644093  12.697363   57886
 2010-06-28  12.696878  12.733683  12.682738  12.708017   25555
 2010-06-29  12.700268  12.754797  12.660462  12.747920   46179
 2010-06-30  12.748017  12.856008  12.681188  12.696588   61634
 2010-07-01  12.695232  12.821432  12.671503  12.801383   56086
 2010-07-02  12.801189  12.894750  12.801189  12.871892   59245
 2010-07-06  12.871892  12.999932  12.868212  12.962450   46251
 2010-07-07  12.924387  12.973007  12.833151  12.929810   63212
 2010-07-08  12.930585  13.010295  12.873636  12.891553   80673
 2010-07-09  12.891069  12.905403  12.712472  12.734748   83725
 2010-07-12  12.735717  12.755475  12.574843  12.593052   73723
 2010-07-13  12.592664  12.610873  12.498329  12.499395   82379
 2010-07-14  12.488160  12.555957  12.468498  12.537749   73379
 2010-07-15  12.538330  12.583173  12.498620  12.564867   81690
 2010-07-16  12.565352  12.730583  12.553729  12.714893   85250
 2010-07-19  12.715184  12.961675  12.676927  12.927680   83518
 2010-07-20  12.927680  13.032765  12.895428  12.966227   81796
 2010-07-21  12.949665  12.960900  12.828018  12.858042   69216
 2010-07-22  12.861626  13.040707  12.836153  12.963903   87506
 2010-07-23  12.963903  13.111217  12.947631  13.032281   90324
 2010-07-26  13.032475  13.096785  12.974363  13.040126   91805
 2010-07-27  13.040417  13.195091  13.025211  13.191024   87401
 2010-07-28  13.181435  13.254463  13.113832  13.210879   83078
 2010-07-29  13.210007  13.271121  13.145696  13.249620   93956
 2010-07-30  13.249620  13.289233  13.212816  13.266569   89591
 2010-08-02  13.266085  13.324391  13.207876  13.295819   92594
 2010-08-03  13.295819  13.312865  13.155866  13.181919   88142
 2010-08-04  13.152670  13.306182  13.143178  13.259983   90313,
 'Asset02':                  open       high        low      close  volume
 timestamp
 2010-06-23  76.981131  77.288981  74.647468  75.819266  365038
 2010-06-24  75.471700  76.037738  74.796427  75.978157  260401
 2010-06-25  76.027805  78.639528  75.372397  78.311820  316456
 2010-06-28  78.450846  78.828202  77.179745  77.706060  223305
 2010-06-29  77.606757  77.775573  74.687191  75.412120  323267
 2010-06-30  74.935453  76.295933  73.872891  75.104270  357752
 2010-07-01  74.846082  74.875873  71.549161  72.442899  405081
 2010-07-02  72.164846  72.869910  71.122150  71.638532  256171
 2010-07-06  71.559086  73.346577  70.595828  71.479648  325727
 2010-07-07  71.569019  74.041708  70.943401  73.555116  288660
 2010-07-08  74.329693  75.471700  73.862959  74.915596  325813
 2010-07-09  75.322742  75.948367  74.478652  75.561071  269887
 2010-07-12  75.769618  75.898712  74.001985  74.428996  309169
 2010-07-13  74.538232  76.832180  73.733865  76.613708  361792
 2010-07-14  76.593843  77.606757  75.849056  76.504472  364471
 2010-07-15  76.226420  77.120165  74.806360  76.087393  366023
 2010-07-16  76.286000  76.613708  74.726914  75.481633  225250
 2010-07-19  75.193648  77.149955  74.975176  76.007948  169548
 2010-07-20  75.868921  77.030787  75.124135  76.901693  285817
 2010-07-21  77.308839  78.023835  75.670307  76.027805  322410
 2010-07-22  75.898712  78.867925  75.630592  78.748764  358815
 2010-07-23  78.718966  79.046674  77.855019  78.430989  259741
 2010-07-26  78.430989  78.778554  77.517378  78.430989  227656
 2010-07-27  78.371401  79.136052  76.256210  76.961273  377844
 2010-07-28  76.544195  77.199603  75.372397  76.454816  314173
 2010-07-29  76.355513  78.341611  75.918569  77.815296  350581
 2010-07-30  77.706060  78.500502  76.295933  78.401191  294425
 2010-08-02  78.401191  81.201588  78.282030  80.774577  306098
 2010-08-03  80.844097  82.065543  80.546180  81.976172  290979
 2010-08-04  81.847071  82.393251  81.052637  81.896727  293321,
 'Asset03':                  open       high        low      close  volume
 timestamp
 2010-06-23  11.818009  11.929842  11.763525  11.904990     253
 2010-06-24  11.916460  12.013956  11.887784  12.003442     159
 2010-06-25  11.835213  11.835213  11.835213  11.835213     351
 2010-06-28  11.871536  11.900211  11.742497  11.871536     417
 2010-06-29  11.904990  11.911680  11.820876  11.904990      73
 2010-06-30  11.530301  11.875359  11.513096  11.530301      50
 2010-07-01  11.483465  11.580960  11.477730  11.540815     169
 2010-07-02  11.539860  11.582872  11.379278  11.420380      52
 2010-07-06  11.456701  11.456701  11.456701  11.456701      18
 2010-07-07  11.429938  11.501626  11.367808  11.429938      93
 2010-07-08  11.561843  11.594342  11.422291  11.561843      22
 2010-07-09  11.455745  11.455745  11.455745  11.455745      45
 2010-07-12  11.597210  11.636399  11.519786  11.597210      53
 2010-07-13  11.584784  11.601989  11.493023  11.535080      54
 2010-07-14  11.547506  11.547506  11.547506  11.547506      32
 2010-07-15  11.355382  11.355382  11.355382  11.355382      46
 2010-07-16  11.295164  11.299943  11.278915  11.295164       4
 2010-07-19  11.388836  11.388836  11.388836  11.388836       8
 2010-07-20  11.389792  11.417512  11.318104  11.389792      24
 2010-07-21  11.427070  11.431849  11.416556  11.427070      79
 2010-07-22  11.352514  11.456701  11.352514  11.352514      32
 2010-07-23  11.307590  11.307590  11.307590  11.307590      37
 2010-07-26  11.068630  11.068630  11.068630  11.068630      29
 2010-07-27  11.091570  11.091570  11.091570  11.091570  206828
 2010-07-28  11.124069  11.175683  11.075320  11.168037   54384
 2010-07-29  11.166125  11.308546  11.145097  11.295164    5466
 2010-07-30  11.311413  11.391704  11.228255  11.311413    2504
 2010-08-02  11.328618  11.379278  11.278915  11.328618     598
 2010-08-03  11.339133  11.498758  11.339133  11.409864    1068
 2010-08-04  11.443319  11.463392  11.374499  11.443319     214,
 'Asset04':                  open       high        low     close     volume
 timestamp
 2010-06-23  10.783106  10.827101  10.611527  8.336712   73784800
 2010-06-24  10.615926  10.646723  10.167180  7.993776  119882100
 2010-06-25  10.250770  10.417950  10.096789  7.890897   81050500
 2010-06-28  10.158381  10.259569  10.000000  7.942336   92239400
 2010-06-29  10.277167  10.329960  10.140783  7.980061   62485100
 2010-06-30  10.426749  10.598328  10.373955  8.168673   73592000
 2010-07-01  10.479543  10.699516  10.387154  8.333282   79965300
 2010-07-02  10.822702  10.831501  10.545534  8.371004   50758100
 2010-07-06  10.703916  10.739111  10.624725  8.322995   53806100
 2010-07-07  10.747911  10.950286  10.743511  8.515035   49854200
 2010-07-08  11.060273  11.130664  10.954685  8.617916   61928700
 2010-07-09  11.218654  11.267048  11.051474  8.724225   72808100
 2010-07-12  11.218654  11.258249  10.989881  8.748230   56934700
 2010-07-13  11.223054  11.280246  10.945886  8.535613   65064800
 2010-07-14  10.981082  11.130664  10.959085  8.652209   38181800
 2010-07-15  10.937088  11.209855  10.866697  8.737943   45530700
 2010-07-16  11.262649  11.284646  10.989881  8.614485   73297300
 2010-07-19  11.223054  11.434228  11.205455  8.861398   73016400
 2010-07-20  11.368236  11.447427  11.108667  8.851111  108520100
 2010-07-21  11.377035  11.526617  11.350638  8.950563   67249900
 2010-07-22  11.500220  11.544215  11.421029  8.971139   60672100
 2010-07-23  11.469424  11.522218  11.363837  8.899122   69704800
 2010-07-26  11.495820  11.619006  11.262649  8.926555   69446200
 2010-07-27  11.328641  11.368236  11.152662  8.851111   83534800
 2010-07-28  11.434228  11.605807  11.328641  9.029440   55044600
 2010-07-29  11.526617  11.592609  11.425429  8.971139   56877700
 2010-07-30  11.504620  11.544215  11.192257  8.823674   78531900
 2010-08-02  11.214254  11.253850  11.091069  8.700222   64922100
 2010-08-03  11.077871  11.245051  11.007480  8.761945   55982100
 2010-08-04  11.240651  11.319842  11.161461  8.782523   57096500,
 'Asset05':                  open       high        low      close  volume
 timestamp
 2010-06-23  17.052869  17.171583  16.905345  17.078139  114400
 2010-06-24  16.861131  17.018485  16.557857  16.914459  137800
 2010-06-25  16.777850  16.959933  16.721656  16.729684   78400
 2010-06-28  16.732046  16.798816  16.229834  16.324111   93600
 2010-06-29  16.330307  16.374136  16.071269  16.146850   76600
 2010-06-30  16.139320  16.251909  16.024039  16.187594   73400
 2010-07-01  16.109741  16.353597  16.048702  16.161367   80400
 2010-07-02  16.118559  16.118559  15.748289  15.902227   88200
 2010-07-06  15.980041  16.169239  15.843832  15.866289   82400
 2010-07-07  15.922089  16.247000  15.624666  16.239992  101000
 2010-07-08  16.127620  16.301036  16.049929  16.193892  100000
 2010-07-09  15.874313  15.998855  15.780847  15.891641   97200
 2010-07-12  15.875686  15.972002  15.798569  15.868783   63400
 2010-07-13  15.852109  15.989346  15.836538  15.942677   62200
 2010-07-14  16.041593  16.128317  15.993363  16.124646   55600
 2010-07-15  16.138606  16.228104  16.089932  16.140860   56600
 2010-07-16  16.198103  16.321213  16.183777  16.317294   56000
 2010-07-19  16.309562  16.363388  16.234456  16.237630   68600
 2010-07-20  16.213350  16.213350  15.888131  16.125052   80400
 2010-07-21  16.029947  16.347602  15.976343  16.339157   93000
 2010-07-22  16.363372  16.559884  16.340217  16.546985  119600
 2010-07-23  16.508492  16.584327  16.444642  16.500085  101200
 2010-07-26  16.527458  16.722569  16.514200  16.694170  111000
 2010-07-27  16.704247  16.738232  16.548813  16.614511  105400
 2010-07-28  16.619870  16.751554  16.551575  16.743708  117200
 2010-07-29  16.749461  16.772865  16.306924  16.345623  126400
 2010-07-30  16.363280  16.458034  16.279205  16.387209   92200
 2010-08-02  16.416134  16.537329  16.386344  16.507053   81000
 2010-08-03  16.507205  16.677994  16.374369  16.593065   92400
 2010-08-04  16.582299  16.684178  16.407073  16.483779   84600}

**getLogWallet**
  * getLogWallet เป็น DataFrame ที่เก็บข้อมูล Cashbalance และ NetAssetValue เรียงตามเวลา โดยเมื่อขยับ Step ของ env แล้ว Dataframe getLogWallet จะทำการอัพเดตข้อมูลที่เวลาถัดไป
    * CashBalance เป็นเงินสดที่สามารถนำไปเปิด Position ใหม่ได้
    * NetAssetValue เป็นมูลค่าของทั้ง Portfolio ยกตัวอย่างเช่น Portfolio มี CashBalance 1000 เหรียญ มี ETH ขนาด 500 เหรียญ แต่ ETH อยู่ในสถานะกำไร 200 เหรียญ ดังนั้นแล้ว NetAssetValue จะเท่ากับ 1000 + 500 + 200 = 1700 เหรียญ

In [ ]:
observers.getLogWallet()

     Timestamp CashBalance NetAssetValue
0   2010-06-23      100000        100000
1   2010-06-24      100000        100000
2   2010-06-25      100000        100000
3   2010-06-28      100000        100000
4   2010-06-29      100000        100000
5   2010-06-30      100000        100000
6   2010-07-01      100000        100000
7   2010-07-02      100000        100000
8   2010-07-06      100000        100000
9   2010-07-07      100000        100000
10  2010-07-08      100000        100000
11  2010-07-09      100000        100000
12  2010-07-12      100000        100000
13  2010-07-13      100000        100000
14  2010-07-14      100000        100000
15  2010-07-15      100000        100000
16  2010-07-16      100000        100000
17  2010-07-19      100000        100000
18  2010-07-20      100000        100000
19  2010-07-21      100000        100000
20  2010-07-22      100000        100000
21  2010-07-23      100000        100000
22  2010-07-26      100000        100000
23  2010-07-27      100000        100000
24  2010-07-28      100000        100000
25  2010-07-29      100000        100000
26  2010-07-30      100000        100000
27  2010-08-02      100000        100000
28  2010-08-03      100000        100000
29  2010-08-04      100000        100000

In [ ]:
observers.getCashBalance()

100000

In [ ]:
observers.getNetAssetValue()

100000

**getPosition**
  * getPosition เป็น DataFrame ที่เก็บ Position ปัจจุบันที่เปิดค้างไว้
    * Timestamp  - เวลาที่เปิดสัญญา
    * Id         - รหัสประจำ Position นั้นๆ
    * Symbol     - Asset ที่เปิดสัญญา
    * EntryPrice - ราคาที่เปิดสัญญา
    * MarkPrice  - ราคาปัจจุบัน (ราคาจะอัพเดตทุกๆ step)
    * Type       - ประเภทของสัญญา Long หรือ Short
    * Margin     - Position Size
    * Unit       - จำนวน coin ที่ได้
    * P/L        - กำไรขาดทุนที่เวลาปัจจุบัน (อัพเดตทุกๆ step)
    * %Changes   - %กำไรขาดทุนที่เวลาปัจจุบัน (อัพเดตทุกๆ step)

In [ ]:
observers.getPosition()

Empty DataFrame
Columns: [Timestamp, Id, Symbol, EntryPrice, MarkPrice, Type, Margin, Unit, P/L, %Changes]
Index: []

**getLogPosition**
  * getLogPosition เป็น DataFrame ที่เก็บข้อมูลการซื้อค้าย้อนหลัง
    * Timestamp  - เวลาที่เปิดสัญญา
    * Id         - รหัสประจำ Position นั้นๆ
    * Symbol     - Asset ที่เปิดสัญญา
    * EntryPrice - ราคาที่เปิดสัญญา
    * Type       - ประเภทของสัญญา Long หรือ Short
    * Margin     - Position Size
    * Unit       - จำนวน coin ที่ได้
    * Fee        - ค่าธรรมเนียม
    * ฉomment       - บอกลักษณะการปิดสัญญา

In [ ]:
observers.getLogPosition()

Empty DataFrame
Columns: [Timestamp, Symbol, Id, EntryPrice, Type, Margin, Unit, Fee, Comment]
Index: []

**getLogPortion**
  * Time - Step จะเป็น columns ที่บอกการอัพเดต โดย First Step เป็นการอัพเดตครั้งแรกก่อนทำการเปิดปิดสัญญาใดๆ ส่วน Final Step จะอัพเดตหลังมีการเปิดปิดสัญญาใดๆตาม order ที่ส่งเข้ามาในฟังก์ชัน observers.step(order) เรียบร้อยแล้ว
  * Cash - Asset_Allocation   คือสัดส่วนของเงินสดต่อมูลค่า portfolio (Net Asset Value)
  * Cash - Cash Balance         คือจำนวนเงินสดคงเหลือ
  * LongPosition_value คือ รวมของมูลค่า Position Long ของ Asset ที่มีการเปิดสัญญาอยู่ รวมมูลค่ากำไรขาดทุนที่เวลาปัจจุบัน
  * ShortPosition_value คือ รวมของมูลค่า Position Short ของ Asset ที่มีการเปิดสัญญาอยู่ รวมมูลค่ากำไรขาดทุนที่เวลาปัจจุบัน
  * NetHedgValue คือ ผลรวมของ LongPosition_value และ ShortPosition_value 
  เนื่องจาก ShortPosition_value มีค่าติดลบ ดังนั้นแล้ว NetHegdValue มีค่าติดลบได้ 
  ยกตัวอย่าง มีสัญญา ETH long ขนาด 5000 เหรียญ และมี ETH Short ขนาด 10000 เหรียญ เพราะฉนั้น NetHegdValue จะทำกับ -5000 เหรียญ
  * Portion   คือ สัดส่วน abs(NetHedgValue) ต่อ มูลค่ารวมของทั้ง portfolio (Net Asset Value)
    * Portion จะเป็นตัวกำหนดสัดส่วนของ Asset ใน Portfolio ยกตัวอย่าง โจทย์กำหนดให้ Portfolio ต้องมี ETH น้อยกว่าเท่ากับ 25 % และ Sol น้อยกว่าเท่ากับ 30 %ของ Portfolio ณ เวลาปัจจุบันมี NAV. อยู่ที่ 100,000 เหรียญ มีมูลค่ารวม ETH Long อยู่ที่ 10,000 ดังนั้นแล้วจะสามารถเปิด Position ETH Long เพิ่มได้อีก 15,000 เหรียญ รวมเป็น 25,000 เหรียญ คิดเป็น 25% ของ NAV. ในกรณีที่ต้องการเปิด Short Position จะสามารถเปิดสูงที่ 35,000 เหรียญ คิดจากShortสูงสุดที่เปิดได้ คือ -25,000 แต่ปัจจุบันเปิด Long 10,000 ดังนั้นแล้ว Short ที่เปิดได้คือ 10,000 + Short = - 25,000 >> short =  -35,000 
  ส่วนนี้หากมีการออก order ที่มีขนาดใหญ่กว่าสัดส่วนที่กำหนด ระบบจะทำการซื้อขายให้เท่าที่สามารถทำได้ เช่น Long ได้สูงสุดที่ 25,000 เหรียญ ปัจจุบันเปิด Long ไว้มูลค่า 20,000 เหรียญ แต่มีการส่ง Order Long ขนาด 50,000 เหรียญมา ระบบจะทำการ open long ให้ขนาด 5,000 เหรียญ เท่านั้น
  * Asset Value           คือ มูลค่ารวมของ Asset --- Long Position + abs(Short Position)
  * Asset_Allocation  คือ สัดส่วน Asset Value ต่อ มูลค่ารวมของทั้ง portfolio (Net Asset Value)

In [ ]:
observers.getLogPortion()

      Asset01                   ...        Time
   AssetValue Asset_Allocation  ...        Step   Timestamp
0           0              0.0  ...  First Step  2010-06-23
1           0              0.0  ...  Final Step  2010-06-23
2           0              0.0  ...  First Step  2010-06-24
3           0              0.0  ...  Final Step  2010-06-24
4           0              0.0  ...  First Step  2010-06-25
5           0              0.0  ...  Final Step  2010-06-25
6           0              0.0  ...  First Step  2010-06-28
7           0              0.0  ...  Final Step  2010-06-28
8           0              0.0  ...  First Step  2010-06-29
9           0              0.0  ...  Final Step  2010-06-29
10          0              0.0  ...  First Step  2010-06-30
11          0              0.0  ...  Final Step  2010-06-30
12          0              0.0  ...  First Step  2010-07-01
13          0              0.0  ...  Final Step  2010-07-01
14          0              0.0  ...  First Step  2010-07-02
15          0              0.0  ...  Final Step  2010-07-02
16          0              0.0  ...  First Step  2010-07-06
17          0              0.0  ...  Final Step  2010-07-06
18          0              0.0  ...  First Step  2010-07-07
19          0              0.0  ...  Final Step  2010-07-07
20          0              0.0  ...  First Step  2010-07-08
21          0              0.0  ...  Final Step  2010-07-08
22          0              0.0  ...  First Step  2010-07-09
23          0              0.0  ...  Final Step  2010-07-09
24          0              0.0  ...  First Step  2010-07-12
25          0              0.0  ...  Final Step  2010-07-12
26          0              0.0  ...  First Step  2010-07-13
27          0              0.0  ...  Final Step  2010-07-13
28          0              0.0  ...  First Step  2010-07-14
29          0              0.0  ...  Final Step  2010-07-14
30          0              0.0  ...  First Step  2010-07-15
31          0              0.0  ...  Final Step  2010-07-15
32          0              0.0  ...  First Step  2010-07-16
33          0              0.0  ...  Final Step  2010-07-16
34          0              0.0  ...  First Step  2010-07-19
35          0              0.0  ...  Final Step  2010-07-19
36          0              0.0  ...  First Step  2010-07-20
37          0              0.0  ...  Final Step  2010-07-20
38          0              0.0  ...  First Step  2010-07-21
39          0              0.0  ...  Final Step  2010-07-21
40          0              0.0  ...  First Step  2010-07-22
41          0              0.0  ...  Final Step  2010-07-22
42          0              0.0  ...  First Step  2010-07-23
43          0              0.0  ...  Final Step  2010-07-23
44          0              0.0  ...  First Step  2010-07-26
45          0              0.0  ...  Final Step  2010-07-26
46          0              0.0  ...  First Step  2010-07-27
47          0              0.0  ...  Final Step  2010-07-27
48          0              0.0  ...  First Step  2010-07-28
49          0              0.0  ...  Final Step  2010-07-28
50          0              0.0  ...  First Step  2010-07-29
51          0              0.0  ...  Final Step  2010-07-29
52          0              0.0  ...  First Step  2010-07-30
53          0              0.0  ...  Final Step  2010-07-30
54          0              0.0  ...  First Step  2010-08-02
55          0              0.0  ...  Final Step  2010-08-02
56          0              0.0  ...  First Step  2010-08-03
57          0              0.0  ...  Final Step  2010-08-03
58          0              0.0  ...  First Step  2010-08-04
59          0              0.0  ...  Final Step  2010-08-04

[60 rows x 34 columns]

**step**
  * step เป็นตัวรับส่งคำสั่งซื้อขาย และขยับเวลา

In [ ]:
order = [{'symbol':'Asset01','open_long':1000}]
status,price_df,liq_position,done = observers.step(order)

In [ ]:
status

[{'Note': 'Order placed', 'Position id': 1}]

In [ ]:
price_df

{'Asset01':                  open       high        low      close  volume
 timestamp
 2010-06-24  12.686903  12.765063  12.666176  12.690777   69683
 2010-06-25  12.690292  12.736782  12.644093  12.697363   57886
 2010-06-28  12.696878  12.733683  12.682738  12.708017   25555
 2010-06-29  12.700268  12.754797  12.660462  12.747920   46179
 2010-06-30  12.748017  12.856008  12.681188  12.696588   61634
 2010-07-01  12.695232  12.821432  12.671503  12.801383   56086
 2010-07-02  12.801189  12.894750  12.801189  12.871892   59245
 2010-07-06  12.871892  12.999932  12.868212  12.962450   46251
 2010-07-07  12.924387  12.973007  12.833151  12.929810   63212
 2010-07-08  12.930585  13.010295  12.873636  12.891553   80673
 2010-07-09  12.891069  12.905403  12.712472  12.734748   83725
 2010-07-12  12.735717  12.755475  12.574843  12.593052   73723
 2010-07-13  12.592664  12.610873  12.498329  12.499395   82379
 2010-07-14  12.488160  12.555957  12.468498  12.537749   73379
 2010-07-15  12.538330  12.583173  12.498620  12.564867   81690
 2010-07-16  12.565352  12.730583  12.553729  12.714893   85250
 2010-07-19  12.715184  12.961675  12.676927  12.927680   83518
 2010-07-20  12.927680  13.032765  12.895428  12.966227   81796
 2010-07-21  12.949665  12.960900  12.828018  12.858042   69216
 2010-07-22  12.861626  13.040707  12.836153  12.963903   87506
 2010-07-23  12.963903  13.111217  12.947631  13.032281   90324
 2010-07-26  13.032475  13.096785  12.974363  13.040126   91805
 2010-07-27  13.040417  13.195091  13.025211  13.191024   87401
 2010-07-28  13.181435  13.254463  13.113832  13.210879   83078
 2010-07-29  13.210007  13.271121  13.145696  13.249620   93956
 2010-07-30  13.249620  13.289233  13.212816  13.266569   89591
 2010-08-02  13.266085  13.324391  13.207876  13.295819   92594
 2010-08-03  13.295819  13.312865  13.155866  13.181919   88142
 2010-08-04  13.152670  13.306182  13.143178  13.259983   90313
 2010-08-05  13.259983  13.406328  13.259015  13.388798   92318,
 'Asset02':                  open       high        low      close  volume
 timestamp
 2010-06-24  75.471700  76.037738  74.796427  75.978157  260401
 2010-06-25  76.027805  78.639528  75.372397  78.311820  316456
 2010-06-28  78.450846  78.828202  77.179745  77.706060  223305
 2010-06-29  77.606757  77.775573  74.687191  75.412120  323267
 2010-06-30  74.935453  76.295933  73.872891  75.104270  357752
 2010-07-01  74.846082  74.875873  71.549161  72.442899  405081
 2010-07-02  72.164846  72.869910  71.122150  71.638532  256171
 2010-07-06  71.559086  73.346577  70.595828  71.479648  325727
 2010-07-07  71.569019  74.041708  70.943401  73.555116  288660
 2010-07-08  74.329693  75.471700  73.862959  74.915596  325813
 2010-07-09  75.322742  75.948367  74.478652  75.561071  269887
 2010-07-12  75.769618  75.898712  74.001985  74.428996  309169
 2010-07-13  74.538232  76.832180  73.733865  76.613708  361792
 2010-07-14  76.593843  77.606757  75.849056  76.504472  364471
 2010-07-15  76.226420  77.120165  74.806360  76.087393  366023
 2010-07-16  76.286000  76.613708  74.726914  75.481633  225250
 2010-07-19  75.193648  77.149955  74.975176  76.007948  169548
 2010-07-20  75.868921  77.030787  75.124135  76.901693  285817
 2010-07-21  77.308839  78.023835  75.670307  76.027805  322410
 2010-07-22  75.898712  78.867925  75.630592  78.748764  358815
 2010-07-23  78.718966  79.046674  77.855019  78.430989  259741
 2010-07-26  78.430989  78.778554  77.517378  78.430989  227656
 2010-07-27  78.371401  79.136052  76.256210  76.961273  377844
 2010-07-28  76.544195  77.199603  75.372397  76.454816  314173
 2010-07-29  76.355513  78.341611  75.918569  77.815296  350581
 2010-07-30  77.706060  78.500502  76.295933  78.401191  294425
 2010-08-02  78.401191  81.201588  78.282030  80.774577  306098
 2010-08-03  80.844097  82.065543  80.546180  81.976172  290979
 2010-08-04  81.847071  82.393251  81.052637  81.896727  293321
 2010-08-05  81.866936  81.906659  80.993049  81.439925  234811,
 'Asset03':                  open       high        low      close  volume
 timestamp
 2010-06-24  11.916460  12.013956  11.887784  12.003442     159
 2010-06-25  11.835213  11.835213  11.835213  11.835213     351
 2010-06-28  11.871536  11.900211  11.742497  11.871536     417
 2010-06-29  11.904990  11.911680  11.820876  11.904990      73
 2010-06-30  11.530301  11.875359  11.513096  11.530301      50
 2010-07-01  11.483465  11.580960  11.477730  11.540815     169
 2010-07-02  11.539860  11.582872  11.379278  11.420380      52
 2010-07-06  11.456701  11.456701  11.456701  11.456701      18
 2010-07-07  11.429938  11.501626  11.367808  11.429938      93
 2010-07-08  11.561843  11.594342  11.422291  11.561843      22
 2010-07-09  11.455745  11.455745  11.455745  11.455745      45
 2010-07-12  11.597210  11.636399  11.519786  11.597210      53
 2010-07-13  11.584784  11.601989  11.493023  11.535080      54
 2010-07-14  11.547506  11.547506  11.547506  11.547506      32
 2010-07-15  11.355382  11.355382  11.355382  11.355382      46
 2010-07-16  11.295164  11.299943  11.278915  11.295164       4
 2010-07-19  11.388836  11.388836  11.388836  11.388836       8
 2010-07-20  11.389792  11.417512  11.318104  11.389792      24
 2010-07-21  11.427070  11.431849  11.416556  11.427070      79
 2010-07-22  11.352514  11.456701  11.352514  11.352514      32
 2010-07-23  11.307590  11.307590  11.307590  11.307590      37
 2010-07-26  11.068630  11.068630  11.068630  11.068630      29
 2010-07-27  11.091570  11.091570  11.091570  11.091570  206828
 2010-07-28  11.124069  11.175683  11.075320  11.168037   54384
 2010-07-29  11.166125  11.308546  11.145097  11.295164    5466
 2010-07-30  11.311413  11.391704  11.228255  11.311413    2504
 2010-08-02  11.328618  11.379278  11.278915  11.328618     598
 2010-08-03  11.339133  11.498758  11.339133  11.409864    1068
 2010-08-04  11.443319  11.463392  11.374499  11.443319     214
 2010-08-05  11.501626  11.575225  11.425159  11.502582     347,
 'Asset04':                  open       high        low     close     volume
 timestamp
 2010-06-24  10.615926  10.646723  10.167180  7.993776  119882100
 2010-06-25  10.250770  10.417950  10.096789  7.890897   81050500
 2010-06-28  10.158381  10.259569  10.000000  7.942336   92239400
 2010-06-29  10.277167  10.329960  10.140783  7.980061   62485100
 2010-06-30  10.426749  10.598328  10.373955  8.168673   73592000
 2010-07-01  10.479543  10.699516  10.387154  8.333282   79965300
 2010-07-02  10.822702  10.831501  10.545534  8.371004   50758100
 2010-07-06  10.703916  10.739111  10.624725  8.322995   53806100
 2010-07-07  10.747911  10.950286  10.743511  8.515035   49854200
 2010-07-08  11.060273  11.130664  10.954685  8.617916   61928700
 2010-07-09  11.218654  11.267048  11.051474  8.724225   72808100
 2010-07-12  11.218654  11.258249  10.989881  8.748230   56934700
 2010-07-13  11.223054  11.280246  10.945886  8.535613   65064800
 2010-07-14  10.981082  11.130664  10.959085  8.652209   38181800
 2010-07-15  10.937088  11.209855  10.866697  8.737943   45530700
 2010-07-16  11.262649  11.284646  10.989881  8.614485   73297300
 2010-07-19  11.223054  11.434228  11.205455  8.861398   73016400
 2010-07-20  11.368236  11.447427  11.108667  8.851111  108520100
 2010-07-21  11.377035  11.526617  11.350638  8.950563   67249900
 2010-07-22  11.500220  11.544215  11.421029  8.971139   60672100
 2010-07-23  11.469424  11.522218  11.363837  8.899122   69704800
 2010-07-26  11.495820  11.619006  11.262649  8.926555   69446200
 2010-07-27  11.328641  11.368236  11.152662  8.851111   83534800
 2010-07-28  11.434228  11.605807  11.328641  9.029440   55044600
 2010-07-29  11.526617  11.592609  11.425429  8.971139   56877700
 2010-07-30  11.504620  11.544215  11.192257  8.823674   78531900
 2010-08-02  11.214254  11.253850  11.091069  8.700222   64922100
 2010-08-03  11.077871  11.245051  11.007480  8.761945   55982100
 2010-08-04  11.240651  11.319842  11.161461  8.782523   57096500
 2010-08-05  11.143863  11.148263  10.945886  8.597339   87257700,
 'Asset05':                  open       high        low      close  volume
 timestamp
 2010-06-24  16.861131  17.018485  16.557857  16.914459  137800
 2010-06-25  16.777850  16.959933  16.721656  16.729684   78400
 2010-06-28  16.732046  16.798816  16.229834  16.324111   93600
 2010-06-29  16.330307  16.374136  16.071269  16.146850   76600
 2010-06-30  16.139320  16.251909  16.024039  16.187594   73400
 2010-07-01  16.109741  16.353597  16.048702  16.161367   80400
 2010-07-02  16.118559  16.118559  15.748289  15.902227   88200
 2010-07-06  15.980041  16.169239  15.843832  15.866289   82400
 2010-07-07  15.922089  16.247000  15.624666  16.239992  101000
 2010-07-08  16.127620  16.301036  16.049929  16.193892  100000
 2010-07-09  15.874313  15.998855  15.780847  15.891641   97200
 2010-07-12  15.875686  15.972002  15.798569  15.868783   63400
 2010-07-13  15.852109  15.989346  15.836538  15.942677   62200
 2010-07-14  16.041593  16.128317  15.993363  16.124646   55600
 2010-07-15  16.138606  16.228104  16.089932  16.140860   56600
 2010-07-16  16.198103  16.321213  16.183777  16.317294   56000
 2010-07-19  16.309562  16.363388  16.234456  16.237630   68600
 2010-07-20  16.213350  16.213350  15.888131  16.125052   80400
 2010-07-21  16.029947  16.347602  15.976343  16.339157   93000
 2010-07-22  16.363372  16.559884  16.340217  16.546985  119600
 2010-07-23  16.508492  16.584327  16.444642  16.500085  101200
 2010-07-26  16.527458  16.722569  16.514200  16.694170  111000
 2010-07-27  16.704247  16.738232  16.548813  16.614511  105400
 2010-07-28  16.619870  16.751554  16.551575  16.743708  117200
 2010-07-29  16.749461  16.772865  16.306924  16.345623  126400
 2010-07-30  16.363280  16.458034  16.279205  16.387209   92200
 2010-08-02  16.416134  16.537329  16.386344  16.507053   81000
 2010-08-03  16.507205  16.677994  16.374369  16.593065   92400
 2010-08-04  16.582299  16.684178  16.407073  16.483779   84600
 2010-08-05  16.493062  16.602764  16.356090  16.496511   79800}

liq_position - ตัวบอกสถานะการบังงคับขาย หาก Position ใด อยู่ในสถานะติดลบที่มากกว่าการวางเงินเริ่มต้นแล้ว รับบจะทำการบังคับขาย โดย liq_position จะreture id ของ position ที่โดน liq

In [ ]:
liq_position

[]

In [ ]:
done

False

In [ ]:
observers.getLogWallet().tail(5)

     Timestamp CashBalance NetAssetValue
26  2010-07-30      100000        100000
27  2010-08-02      100000        100000
28  2010-08-03      100000        100000
29  2010-08-04      100000        100000
30  2010-08-05       99000       99999.6

In [ ]:
observers.getPosition()

    Timestamp Id   Symbol  EntryPrice  ...  Margin       Unit  P/L  %Changes
0  2010-08-05  1  Asset01   13.388798  ...   999.6  74.659428  0.0       0.0

[1 rows x 10 columns]

In [ ]:
observers.getLogPosition()

    Timestamp   Symbol Id  EntryPrice  ... Margin       Unit  Fee  Comment
0  2010-08-05  Asset01  1   13.388798  ...  999.6  74.659428  0.4        -

[1 rows x 9 columns]

In [ ]:
order = []
status,price_df,liq_position,done = observers.step(order)

In [ ]:
observers.getPosition()

    Timestamp Id   Symbol  EntryPrice  ...  Margin       Unit        P/L  %Changes
0  2010-08-05  1  Asset01   13.388798  ...   999.6  74.659428 -14.368012 -1.437376

[1 rows x 10 columns]

In [ ]:
observers.getLogWallet().tail(5)

     Timestamp CashBalance NetAssetValue
28  2010-08-03      100000        100000
29  2010-08-04      100000        100000
30  2010-08-05       99000       99999.6
31  2010-08-06       99000  99998.204416
32  2010-08-09       99000  99985.231988

In [ ]:
order = [{'symbol':'Asset01','open_long':1000},{'symbol':'Asset02','open_short':1000},{'symbol':'Asset03','open_short':3000},{'symbol':'Asset04','open_short':3000},{'symbol':'Asset05','open_short':3000}]
status,price_df,liq_position,done = observers.step(order)

In [ ]:
observers.getLogWallet().tail(5)

     Timestamp CashBalance NetAssetValue
29  2010-08-04      100000        100000
30  2010-08-05       99000       99999.6
31  2010-08-06       99000  99998.204416
32  2010-08-09       99000  99985.231988
33  2010-08-10       88000  99977.570804

In [ ]:
observers.getPosition()

    Timestamp Id   Symbol  EntryPrice  ...  Margin        Unit        P/L  %Changes
0  2010-08-05  1  Asset01   13.388798  ...   999.6   74.659428 -17.629196 -1.763625
1  2010-08-10  2  Asset01   13.152670  ...   999.6   75.999779   0.000000  0.000000
2  2010-08-10  3  Asset02   79.692157  ...  -999.6  -12.543267  -0.000000 -0.000000
3  2010-08-10  4  Asset03   11.446187  ... -2998.8 -261.991183  -0.000000 -0.000000
4  2010-08-10  5  Asset04    8.367573  ... -2998.8 -358.383487  -0.000000 -0.000000
5  2010-08-10  6  Asset05   16.180555  ... -2998.8 -185.333573  -0.000000 -0.000000

[6 rows x 10 columns]

In [ ]:
observers.getLogPosition()

    Timestamp   Symbol Id  EntryPrice  ...  Margin        Unit  Fee  Comment
0  2010-08-05  Asset01  1   13.388798  ...   999.6   74.659428  0.4        -
1  2010-08-10  Asset01  2   13.152670  ...   999.6   75.999779  0.4        -
2  2010-08-10  Asset02  3   79.692157  ...  -999.6  -12.543267  0.4        -
3  2010-08-10  Asset03  4   11.446187  ... -2998.8 -261.991183  1.2        -
4  2010-08-10  Asset04  5    8.367573  ... -2998.8 -358.383487  1.2        -
5  2010-08-10  Asset05  6   16.180555  ... -2998.8 -185.333573  1.2        -

[6 rows x 9 columns]

In [ ]:
order = [{'symbol':'Asset01','close_all':1},{'symbol':'Asset02','close_short':4}]
status,price_df,liq_position,done = observers.step(order)

In [ ]:
observers.getLogWallet().tail(5)

     Timestamp  CashBalance NetAssetValue
30  2010-08-05        99000       99999.6
31  2010-08-06        99000  99998.204416
32  2010-08-09        99000  99985.231988
33  2010-08-10        88000  99977.570804
34  2010-08-11  89980.39894  99890.809962

In [ ]:
observers.getPosition()

    Timestamp Id   Symbol  EntryPrice  ...  Margin        Unit        P/L  %Changes
0  2010-08-10  3  Asset02   79.692157  ...  -999.6  -12.543267  27.777089   2.77882
1  2010-08-10  4  Asset03   11.446187  ... -2998.8 -261.991183 -43.323078  -1.44468
2  2010-08-10  5  Asset04    8.367573  ... -2998.8 -358.383487 -12.290287  -0.40984
3  2010-08-10  6  Asset05   16.180555  ... -2998.8 -185.333573 -57.752700  -1.92586

[4 rows x 10 columns]

In [ ]:
observers.getLogPosition()

    Timestamp   Symbol Id  ...        Unit       Fee  Comment
0  2010-08-05  Asset01  1  ...   74.659428  0.400000        -
1  2010-08-10  Asset01  2  ...   75.999779  0.400000        -
2  2010-08-10  Asset02  3  ...  -12.543267  0.400000        -
3  2010-08-10  Asset03  4  ... -261.991183  1.200000        -
4  2010-08-10  Asset04  5  ... -358.383487  1.200000        -
5  2010-08-10  Asset05  6  ... -185.333573  1.200000        -
6  2010-08-11  Asset01  1  ...   74.659428  0.392713        -
7  2010-08-11  Asset01  2  ...   75.999779  0.399763        -

[8 rows x 9 columns]

**getLogOrder**
  getLogOrder เป็น Dataframe ที่บันทึกการซื้ขายทั้งหมด 
  * เมื่อต้องการที่จะส่งคำตอบ ให้ประกาศ Observers(window,train=False) หลังจากนั้นทำการซื้อขายตามโมเดลที่สร้างมา getLogOrder จะเก็บข้อมูลการซื้อขายทั้งหมดในชุด test ซึ่ง dataframตัวนี้จำเป็นต้องนำส่งเพื่อตรวจคำตอบ

In [ ]:
observers.getLogOrder()

     Timestamp                                              Order
0   2010-06-23                                                 []
1   2010-06-24                                                 []
2   2010-06-25                                                 []
3   2010-06-28                                                 []
4   2010-06-29                                                 []
5   2010-06-30                                                 []
6   2010-07-01                                                 []
7   2010-07-02                                                 []
8   2010-07-06                                                 []
9   2010-07-07                                                 []
10  2010-07-08                                                 []
11  2010-07-09                                                 []
12  2010-07-12                                                 []
13  2010-07-13                                                 []
14  2010-07-14                                                 []
15  2010-07-15                                                 []
16  2010-07-16                                                 []
17  2010-07-19                                                 []
18  2010-07-20                                                 []
19  2010-07-21                                                 []
20  2010-07-22                                                 []
21  2010-07-23                                                 []
22  2010-07-26                                                 []
23  2010-07-27                                                 []
24  2010-07-28                                                 []
25  2010-07-29                                                 []
26  2010-07-30                                                 []
27  2010-08-02                                                 []
28  2010-08-03                                                 []
29  2010-08-04                                                 []
30  2010-08-05         [{'symbol': 'Asset01', 'open_long': 1000}]
31  2010-08-06                                                 []
32  2010-08-09                                                 []
33  2010-08-10  [{'symbol': 'Asset01', 'open_long': 1000}, {'s...
34  2010-08-11  [{'symbol': 'Asset01', 'close_all': 1}, {'symb...

**save_csv**
  * save_csv บันทึกข้อมูลลงไฟล์ csv 
    * นำไฟล์ csv - log_order.csv ไปใช้ในการส่งคำตอบ

In [ ]:
observers.save_csv()

In [ ]:
observers = Observers(30,train=False)

In [ ]:
observers.getWindowPrice()

{'Asset01':                  open       high        low      close  volume
 timestamp
 2018-11-15  10.963399  10.973084  10.912939  10.920009   47074
 2018-11-16  10.919525  10.982382  10.903060  10.968242   51206
 2018-11-19  10.969695  10.984126  10.905190  10.905190   58633
 2018-11-20  10.906546  10.953617  10.894827  10.938508   69496
 2018-11-21  10.939573  10.950033  10.880105  10.935215   63578
 2018-11-23  10.936377  10.976862  10.933375  10.952261   39401
 2018-11-26  10.952842  10.999719  10.920203  10.982576   63496
 2018-11-27  10.983060  11.012891  10.967951  10.978411   62866
 2018-11-28  10.980058  11.008339  10.963496  10.976377   74361
 2018-11-29  10.975312  10.997879  10.959622  10.973762   58498
 2018-11-30  10.976571  11.009404  10.970566  10.998654   55710
 2018-12-03  10.999041  11.043594  10.987709  11.029647   63522
 2018-12-04  11.030325  11.044368  11.004368  11.010760   62231
 2018-12-06  11.011438  11.059865  11.001559  11.011826   71924
 2018-12-07  11.011923  11.049114  10.995651  11.005046   64344
 2018-12-10  11.015506  11.022867  10.952842  10.981801   58233
 2018-12-11  10.982479  10.983738  10.933956  10.951099   56132
 2018-12-12  10.950905  10.967951  10.930082  10.949549   52094
 2018-12-13  10.950033  10.963593  10.823930  10.840105   70529
 2018-12-14  10.840686  10.891825  10.832841  10.878943   67076
 2018-12-17  10.880977  10.903738  10.868289  10.894537   54307
 2018-12-18  10.894440  10.948871  10.892987  10.932503   72484
 2018-12-19  10.932503  10.981511  10.922140  10.973569   54741
 2018-12-20  10.973472  10.980445  10.938411  10.948581   63552
 2018-12-21  10.948290  10.986934  10.944029  10.967370   49268
 2018-12-24  10.966692  11.001172  10.962431  10.978218   43144
 2018-12-26  10.978121  11.003690  10.976571  10.992068   42956
 2018-12-27  10.991971  11.087468  10.978315  11.064320   66875
 2018-12-28  11.064320  11.077008  10.985094  11.014828   71203
 2018-12-31  11.014828  11.031874  10.918169  10.944997   79566,
 'Asset02':                  open       high        low      close   volume
 timestamp
 2018-11-15  55.630588  56.861966  55.203577  56.067528   256499
 2018-11-16  56.186697  57.557101  55.501491  56.067528   159001
 2018-11-19  56.325723  56.931483  54.697124  56.365442   699684
 2018-11-20  56.991064  57.040715  52.403180  53.058592   983120
 2018-11-21  53.018869  55.471700  53.018869  54.250251   734277
 2018-11-23  53.495532  53.743794  49.801393  50.069513  1014667
 2018-11-26  50.268124  51.886794  49.751738  51.271105   663108
 2018-11-27  51.181730  52.015891  49.950348  51.201592   764010
 2018-11-28  51.727906  52.194640  49.712019  49.940420   831688
 2018-11-29  49.960281  51.837142  49.066536  51.092356   812721
 2018-11-30  50.913607  51.429993  49.304869  50.575970   796714
 2018-12-03  52.085405  53.475670  51.668322  52.581929   758010
 2018-12-04  52.760678  54.170805  52.065543  52.879843   738130
 2018-12-06  52.562067  52.929494  49.731880  51.132079   987266
 2018-12-07  51.400199  53.843101  50.248262  52.244292   987717
 2018-12-10  51.668322  52.442903  50.178749  50.645483   733225
 2018-12-11  50.536247  52.065543  50.347569  51.290966   665262
 2018-12-12  51.588880  52.512416  50.585899  50.794442   730810
 2018-12-13  50.844094  52.899704  50.000000  52.214502   733627
 2018-12-14  52.462764  52.581929  50.486596  50.844094   526839
 2018-12-17  50.893745  51.509434  48.669315  49.533270   211257
 2018-12-18  48.818273  49.245285  45.471700  45.918573   120101
 2018-12-19  45.610727  47.666337  45.610727  46.871899   817721
 2018-12-20  47.060577  47.179742  45.352532  45.561075   794130
 2018-12-21  45.928502  46.444888  44.816288  45.273090   694003
 2018-12-24  45.134064  45.918573  42.065543  42.234360   415859
 2018-12-26  42.552135  46.673288  42.224431  45.898712   698408
 2018-12-27  46.256210  46.375375  44.061569  44.299903   665590
 2018-12-28  45.124131  45.898712  44.111221  45.014899   564385
 2018-12-31  44.905663  46.206554  44.419067  45.094341   476970,
 'Asset03':                  open       high        low      close  volume
 timestamp
 2018-11-15  11.690882  11.690882  11.690882  11.690882       0
 2018-11-16  11.711911  11.745365  11.651692  11.651692      12
 2018-11-19  11.716690  11.716690  11.716690  11.716690       0
 2018-11-20  11.707132  11.707132  11.670809  11.670809       1
 2018-11-21  11.663162  11.680368  11.663162  11.663162       2
 2018-11-23  11.679412  11.680368  11.577136  11.577136       5
 2018-11-26  11.580004  11.674633  11.580004  11.674633  247168
 2018-11-27  11.670809  11.744408  11.666030  11.700440   55478
 2018-11-28  11.700440  11.709043  11.623973  11.663162    2060
 2018-11-29  11.685147  11.796024  11.673677  11.794113     751
 2018-11-30  11.766393  11.865801  11.760658  11.862933     474
 2018-12-03  11.828523  11.894476  11.802716  11.834258     434
 2018-12-04  11.836170  11.946092  11.829478  11.917416     211
 2018-12-06  11.944179  11.944179  11.868668  11.887784     131
 2018-12-07  11.907858  11.935576  11.866756  11.870580     117
 2018-12-10  11.903079  11.905946  11.891608  11.894476      84
 2018-12-11  11.885873  11.885873  11.861977  11.878226     194
 2018-12-12  11.868668  11.868668  11.796024  11.823744      33
 2018-12-13  11.845728  11.923151  11.845728  11.923151      10
 2018-12-14  11.930797  11.940356  11.905946  11.940356      31
 2018-12-17  12.003442  12.003442  11.968075  11.968075     268
 2018-12-18  11.883005  12.077997  11.883005  12.077997      49
 2018-12-19  12.046455  12.056013  11.984325  11.984325      96
 2018-12-20  12.046455  12.124833  12.046455  12.115275      27
 2018-12-21  12.132480  12.209903  12.131524  12.131524      63
 2018-12-24  12.203212  12.208948  12.203212  12.208948     480
 2018-12-26  12.172625  12.235711  12.172625  12.233799     805
 2018-12-27  12.215638  12.247181  12.211815  12.218506      19
 2018-12-28  12.292105  12.292105  12.211815  12.244313     149
 2018-12-31  12.299753  12.349456  12.298796  12.347545      10,
 'Asset04':                  open       high        low      close     volume
 timestamp
 2018-11-15  47.109549  47.901452  46.986364  46.069410   33502100
 2018-11-16  47.633084  47.760669  45.556535  44.508096   44773900
 2018-11-19  44.786628  45.301365  43.708755  43.270107   64052500
 2018-11-20  45.578531  45.943688  44.980202  43.865710   28130600
 2018-11-21  44.949406  45.670919  44.874616  43.848689   13823100
 2018-11-23  46.102069  46.911570  46.009681  45.295136   32336200
 2018-11-26  46.753189  47.219535  46.352839  45.580172   29124500
 2018-11-27  47.465905  48.979324  47.452707  47.273371   46788500
 2018-11-28  48.539377  48.886936  47.967444  46.877716   28123200
 2018-11-29  48.702155  48.820943  48.112628  47.175518   33665600
 2018-11-30  49.714035  49.898812  48.715357  47.686033   34732800
 2018-12-03  49.247692  49.555654  47.606688  46.167260   45197000
 2018-12-04  46.555214  48.059833  46.194458  46.452296   49107400
 2018-12-06  47.681478  48.152221  45.886496  44.593181   45044900
 2018-12-07  46.106469  47.505502  45.706116  45.771612   40801500
 2018-12-10  48.306206  48.812142  47.267930  46.197035   42381900
 2018-12-11  48.785746  48.952925  47.971845  46.405503   36183000
 2018-12-12  48.209417  48.776949  47.791465  46.562904   31333400
 2018-12-13  47.624286  48.068634  46.414431  45.107945   47043100
 2018-12-14  46.374838  46.546417  44.747031  43.772110   56957300
 2018-12-17  45.644524  45.978884  45.103387  44.231575   49319200
 2018-12-18  45.600530  47.021557  44.588650  44.112455   68198200
 2018-12-19  45.336562  45.890893  43.457985  43.185026   70334200
 2018-12-20  44.711834  45.314563  42.877255  41.789628  111242100
 2018-12-21  42.974044  43.101629  41.346241  40.045374   43935200
 2018-12-24  41.856578  44.298286  41.337440  42.780866   51634800
 2018-12-26  43.686760  44.518260  42.410912  43.044629   49498500
 2018-12-27  44.914210  45.054996  43.783545  42.708543   38196300
 2018-12-28  44.562254  45.050596  44.188299  43.210545   33173800
 2018-12-31  43.796747  44.764629  43.528379  43.019106   35329300,
 'Asset05':                  open       high        low      close  volume
 timestamp
 2018-11-15  14.725595  14.832772  14.613893  14.737018  113500
 2018-11-16  14.289567  14.388028  13.842142  13.967258  197200
 2018-11-19  13.916351  14.142745  13.714276  14.094066  170100
 2018-11-20  14.088654  14.121400  13.866050  13.884215  118600
 2018-11-21  13.882409  14.044338  13.713064  13.766529  119400
 2018-11-23  13.917816  13.962344  13.611056  13.849160  130000
 2018-11-26  13.758856  13.758856  13.438299  13.442624  125400
 2018-11-27  13.300230  13.804681  13.241387  13.788884  147300
 2018-11-28  13.870948  14.464367  13.870948  14.353374  211900
 2018-11-29  14.341328  14.380060  13.966193  14.028718  178300
 2018-11-30  13.948411  14.275122  13.936522  14.074505  160100
 2018-12-03  13.737361  14.089676  13.686540  14.077236  162000
 2018-12-04  14.115610  14.197885  13.953131  14.050457  158900
 2018-12-06  14.022042  14.032563  13.673852  13.743676  134200
 2018-12-07  13.724596  13.985969  13.633822  13.883946  166700
 2018-12-10  13.910798  14.126553  13.878426  14.071737  180600
 2018-12-11  14.148778  14.255642  14.076429  14.090411  200900
 2018-12-12  14.322962  14.470153  14.212775  14.470153  225000
 2018-12-13  14.410417  14.452376  14.269006  14.410438  193800
 2018-12-14  14.384963  14.385742  14.247651  14.377594  163700
 2018-12-17  14.380238  14.465833  14.268872  14.280203  173200
 2018-12-18  14.381546  14.393883  14.231324  14.249333  159600
 2018-12-19  14.171513  14.171513  14.046748  14.050593  152400
 2018-12-20  14.019927  14.225209  14.003767  14.221695  175000
 2018-12-21  14.059394  14.416137  14.042353  14.353395  249300
 2018-12-24  14.317870  14.371922  14.207838  14.231010  238400
 2018-12-26  14.230442  14.425246  14.229091  14.425246  207800
 2018-12-27  14.433951  14.573378  14.365040  14.484393  242200
 2018-12-28  14.499471  14.616320  14.457728  14.616320  231700
 2018-12-31  14.512382  14.547756  14.291107  14.304602  215900}